.wrapper {
  height: calc(100vh - 70px);
}

.overWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.tagline {
  margin: 0;
  font-size: 20pt;
}

.desc {
  max-width: 700px;
  font-size: 16pt;
  letter-spacing: 0.2pt;
}

@media screen and (max-width: 768px) {
  .tagline {
    font-size: 14pt;
  }
  .desc {
    font-size: 12pt;
  }
}

@media screen and (max-width: 576px) {
  .tagline {
    font-size: 14pt;
  }
  .desc {
    font-size: 10pt;
  }
}
